
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}


.header_top-inner{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 62px;
    /* margin-right: 138px; */
}

.entry_lk{
    display: flex;
    align-items: center;
}

.login_lk{
    background-color: #fff;
    border: none;
    color: #86CC46;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
}

.login_lk:hover{
    color: #FF703E  ;
}

.registry_lk{
    background-color: #fff;
    border: none;
    color: #535353;
}

.registry_lk:hover{
    color: #FF703E  ;  
}

.entry_lk-left{
    display: flex;
    align-items: center;
    margin-right: 18px;
}

.menu{
    display: flex;
    height: 100%;
}

.menu_list{
    display: flex;
    align-items: center;
}

.menu_list-item:first-child{
    min-width: 77px;
}


.menu_list-item:last-child{
    min-width: 138px;
}

.menu_list-link{
    color: #535353;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid #FF703E;
    padding-bottom: 11px;
    padding-top: 40px;
    transition: color 0.3s, border-bottom 0.3s;
    padding-right: 5px;
    padding-left: 5px;
}

.menu_list-item + .menu_list-item {
    margin-left: 35px;
  }

.menu_list-link:hover,
.menu_list-link:focus{
    color: #fff;
    background-color: #FF703E;
    border-radius: 0px 0px 5px 5px;
    height: 71px;
}

.header_benefits{
    display: flex;
}

.benefits-h1{
    color: #535353;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    line-height: 76px;
}

.benefits-h2{
    color: #FF703E;
    font-size: 55px;
    font-weight: 700;
    line-height: 53px;
}

.benefits-h3{
    color: #535353;
    font-size: 45px;
    font-weight: 600;
}

.header_benefits--left-content{
    display: flex;
    margin-top: 67px;
}

.left-content-name{
    display: flex;
    flex-direction: column;
}

.left-content-p--1{
    width: 365px;
    color: #6E6E6E;
    border-bottom: 6px solid #86CC46;
    font-weight: 700;
font-size: 22px;
line-height: 26px;
margin-bottom: 18px;
    margin-left: 18px;
}

.left-content-p{
    color: #6E6E6E;
    font-weight: 700;
font-size: 22px;
line-height: 26px;
margin-bottom: 24px;
    margin-left: 18px;
}



.header_left-bottom-btn{
    border: 1px solid #FF703E;
    background: #FF703E;
    border-radius: 5px;
    width: 314px;
    height: 56px;
    color: #fff;
    font-weight: 400;
    font-size: 27px;
    margin-top: 50px;
}